#background {
    background: #000;
    width: 100%;
    min-height: 100vh;
}
.row {
    max-width: 1200px;
}
.row.fighters {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.fighter img {
    border-radius: 200px;
    border: 3px solid #FFF;
    transition: all .2s ease .125s;
    }
    .fighter img:hover {
    margin-top: -20px;
    }

.player, .opponent {
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 320px;
    }
    .player {
        border-radius: 20px 0px 0px 20px;
    }
    .opponent{
        border-radius: 0px 20px 20px 0px;
        border-left: 10px solid #FFF;
    }
#roster-1 {
    margin: 20px auto;
    transition: all .5s ease .125s;
    height: 305px;
    opacity: 1.0;
}
#roster-2 {
    position: relative;
    top: 175px;
    margin: 20px auto;
    transition: all .5s ease .125s;
    height: 305px;
    opacity: 0.0;
}

.caseyPlay {
    background: url(../img/casey.png) center center;
    background-size: cover;
}
.wolvyPlay {
    background: url(../img/wolvie.png) center center;
    background-size: cover;
}
.spidyPlay {
    background: url(../img/spidy.png) center center;
    background-size: cover;
}
.raphyPlay {
    background: url(../img/raphy.png) center center;
    background-size: cover;
}

.Arena div {
    font-size: 48px;
    color: #FFF;
    text-shadow: 0px 0px 20px #000;
    font-weight: 500;
    text-align: center;
    font-family: 'Sigmar One';  
    }
    .Arena div ul {
        position: relative;
        list-style: none;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        }
        .Arena div ul li:first-child {
            flex-basis: 100%;
            position: relative;
            top: -90px;
            letter-spacing: -5px;
            font-size: 70px;
            text-align: center;
            transform: skewY(-3deg);
        }
    .Arena div ul li:nth-child(2), .Arena div ul li:nth-child(3) {
        font-family: 'Oswald', 'Bebas Neue', 'Impact', Arial, Helvetica, sans-serif;
        font-size: 24px;
        justify-content: space-evenly;
        line-height: 70px;
        padding: 10px 30px;
        border: 3px solid #FFF;
        position: relative;
        top: 124px;
        flex-basis: 50%;
        }
        .Arena div ul li:nth-child(2) {
            background: #e21e2d;
            border-radius: 250px 0px 0px 250px; 
        }
        .Arena div ul li:nth-child(3) {
            background: #069;
            border-radius: 0px 250px 250px 0px;
        }

        h2.instructions {
            font-family: 'Oswald','Bebas Neue','Impact', Arial, Helvetica, sans-serif;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 5px;
            transform: skewX(-7deg);
            text-align: center;
            color: #e21e2d;
        }
        #attackButton {
            display: none;
        }
        .button {
            width: calc(100% - 80px);
            background: #e21e2d;
            border-radius: 150px;
            font-family: 'Sigmar One','Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
            color: #FFF;
            text-align: center;
            font-size: 8rem;
            display: none;
            margin: 40px;
            opacity: 0.0;
            cursor: pointer;
        }

#damage {
    position: absolute;
    background: url(../img/damage-bubble.png) center center no-repeat;
    left: 30%;
    z-index: 10;
    top: 70px;
    height: 400px;
    width: 700px;
    padding-top: 80px;
    text-align: center;
    display: none;
    opacity: 0.0;
    transform: rotateY(20deg);
    transform:scale(1.1);
    transition: all .25s ease .025s;
    box-sizing: border-box;
    }
    #damage #damagePoints {
        font-family: 'Sigmar One', 'Oswald', Arial, Helvetica, sans-serif;
        font-size: 8rem;
        color: #FFF;
    }
    #damage #damageDeets {
        font-family: 'Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
        color: #FFF;
        font-size: 6rem;
        transform: skewX(-15deg);
    }