body {
    background: #000;
}
#background {
    background: url(../img/battleBkgrd.jpg) no-repeat #000;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
.row, .container {
    max-width: 960px;
}
.row.fighters {
    display: flex;
    height: 40vh;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.fighter img {
    border-radius: 200px;
    border: 3px solid #FFF;
    transition: all .2s ease .125s;
    }
    .fighter img:hover {
    border: 7px #e21e2d solid;
    transform: scale(1.2);
    }

.player, .opponent {
    border-top: 10px solid #FFF;
    border-bottom: 10px solid #FFF;
    padding: 20px;
    box-sizing: border-box;
    height: 320px;
    }
    .player {
        border-radius: 20px 0px 0px 20px;
    }
    .opponent{
        border-radius: 0px 20px 20px 0px;
        border-left: 10px solid #FFF;
    }
#roster-1 {
    margin: 20px auto 40px;
    transition: all .5s ease .125s;
    height: 305px;
    opacity: 1.0;
}
#roster-2 {
    position: relative;
    top: 175px;
    margin: 20px auto;
    transition: all .5s ease .125s;
    height: 305px;
    opacity: 0.0;
}

.caseyPlay {
    background: url(../img/caseyWide.jpg) center center;
    background-size: cover;
}
.wolvyPlay {
    background: url(../img/wolvyWide.jpg) center center;
    background-size: cover;
}
.spidyPlay {
    background: url(../img/dragonWide.jpg) center center;
    background-size: cover;
}
.raphyPlay {
    background: url(../img/raphWide.jpg) center center;
    background-size: cover;
}

.Arena div {
    font-size: 48px;
    color: #FFF;
    text-shadow: 0px 0px 20px #000;
    font-weight: 500;
    text-align: center;
    font-family: 'Sigmar One';  
    }
    .Arena div ul {
        position: relative;
        list-style: none;
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        }
        .Arena div ul li:first-child {
            flex-basis: 100%;
            position: relative;
            top: -90px;
            letter-spacing: -5px;
            font-size: 62px;
            text-align: center;
            transform: skewY(-3deg);
        }
    .Arena div ul li:nth-child(2), .Arena div ul li:nth-child(3) {
        font-family: 'Oswald', 'Bebas Neue', 'Impact', Arial, Helvetica, sans-serif;
        font-size: 24px;
        justify-content: space-evenly;
        line-height: 70px;
        padding: 10px 30px;
        border: 3px solid #FFF;
        position: relative;
        top: 124px;
        flex-basis: 50%;
        }
        .Arena div ul li:nth-child(2) {
            background: #e21e2d;
            border-radius: 250px 0px 0px 250px; 
        }
        .Arena div ul li:nth-child(3) {
            background: #069;
            border-radius: 0px 250px 250px 0px;
        }

        h2.instructions {
            font-family: 'Oswald','Bebas Neue','Impact', Arial, Helvetica, sans-serif;
            font-size: 48px;
            font-weight: 700;
            letter-spacing: 5px;
            transform: skewX(-7deg);
            text-align: center;
            color: #e21e2d;
            padding-bottom: 20px;
        }
        #attackButton {
            display: none;
            margin: 40px;
            opacity: 0.0;
        }
        .button {
            width: calc(100% - 80px);
            background: #e21e2d;
            border-radius: 150px;
            font-family: 'Sigmar One','Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
            color: #FFF;
            text-align: center;
            font-size: 8rem;
            cursor: pointer;
        }
        .btn {
            font-family: 'Oswald','Bebas Neue','Impact', Arial, Helvetica, sans-serif;
            color: #FFF;
            font-size: 28px;
            text-shadow: 0px 3px 0px rgba(0,0,0,0.6);
        }
        .btn a {
            color: #FFF;
            text-decoration: none;
            padding: 5px 50px;
        }
#damage {
    top: -100px;
    right: -200px;
    text-shadow: none;
}
#counterDamage {
    top: -100px;
    left: -200px;
    text-shadow: none;
}
#damage, #counterDamage {
    position: absolute;
    background: url(../img/damage-bubble.png) center center no-repeat;
    background-size:contain;
    z-index: 10;
    height: 300px;
    width: 500px;
    padding-top: 80px;
    text-align: center;
    display: none;
    transform:scale(0.0);
    box-sizing: border-box;
    }
    #damage #damagePoints, #counterDamage #counterDamagePoints {
        font-family: 'Sigmar One', 'Oswald', Arial, Helvetica, sans-serif;
        font-size: 12rem;
        transform: rotate(-12deg);
        line-height: 9rem;
        color: #e21e2d;
        text-shadow: none;
    }
    #damage #damageDeets, #counterDamage #counterDamageDeets {
        font-family: 'Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
        color: #900;
        line-height: 2.5rem;
        font-size: 3rem;
        transform: skewX(-15deg) rotate(-10deg);
        text-shadow: none;
    }

    #victory {
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,0.7);
        padding-top: 30vh;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        transition: all 2s;
        z-index: 20;
        }
        #victory h1 {
            color:#e21e2d;
            font-size: 18rem;
            letter-spacing: -5px;
            font-family: 'Sigmar One','Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
            line-height: 18rem;
        }
        #victory h2 {
            font-family: 'Oswald','Bebas Neue','Impact', Arial, Helvetica, sans-serif;
            color: #FFF;
            font-size: 6rem;
            transform: skewX(-10deg);
        }

        #defeated {
            height: 100vh;
            width: 100%;
            background: rgba(0,0,0,0.7);
            padding-top: 30vh;
            text-align: center;
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            transition: all 2s;
            z-index: 20;
            }
            #defeated h1 {
                color:#e21e2d;
                font-size: 18rem;
                letter-spacing: -5px;
                font-family: 'Sigmar One','Oswald','Bebas Neue', Arial, Helvetica, sans-serif;
                line-height: 18rem;
            }
            #defeated h2 {
                font-family: 'Oswald','Bebas Neue','Impact', Arial, Helvetica, sans-serif;
                color: #FFF;
                font-size: 6rem;
                transform: skewX(-10deg);
            }

#onh div {
    display: none;
    }
    #onh div:last-child {
        display: block;
        position: absolute;
        z-index: 15;
        right: 216px;
        font-size: 34px;
        top: -66px;
        font-family: 'Sigmar One','Oswald','Impact', Arial, Helvetica, sans-serif;
        transform: rotate(-9deg);
        border-radius: 100px;
        color: #FFF;
        background: #900;
        padding: 10px 30px;
        border: 2px solid #FFF;
    }
    #pnh div {
        display: none;
        }
        #pnh div:last-child {
            display: block;
            position: absolute;
            z-index: 15;
            left: 132px;
            font-size: 34px;
            top: -66px;
            font-family: 'Sigmar One','Oswald','Impact', Arial, Helvetica, sans-serif;
            transform: rotate(-9deg);
            border-radius: 100px;
            color: #FFF;
            background: #900;
            padding: 10px 30px;
            border: 2px solid #FFF;
        }    
        .statlist {
            color: #FFF;
            font-family:'Oswald','Bebas Neue','Impact',sans-serif;
            text-align:center;
            font-size: 1.3rem;
            background: #000;
            transform: skewX(-5deg);
            transform: skewY(-5deg);
            border: 1px solid #FFF;
            box-sizing: border-box;
            margin-top: -10px;
            z-index: 12;
            position:relative;
          }
#comicTitle, #scrapTitle {
    letter-spacing: -5px;
    position: absolute;
    transform: skewY(10deg) rotate(-90deg);
}
#comicTitle {
    color: #999;
    font-size: 10rem;
    left: -250px;
    top: 40%;
    font-family:'Sigmar One','Oswald','Bebas Neue','Impact',sans-serif;
}
#scrapTitle{
    color: #999;
    font-size: 14rem;
    right: -200px;
    top: 35%;
    font-family:'Oswald','Bebas Neue','Impact',sans-serif;
}

@media (max-width: 1160px) {
    #scrapTitle, #comicTitle {display: none;}
}